files:
  "/etc/yum.repos.d/pgdg-94-centos.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [pgdg94]
      name=PostgreSQL 9.4 $releasever - $basearch
      baseurl=http://yum.postgresql.org/9.4/redhat/rhel-6.7-x86_64/
      enabled=1
      gpgcheck=1
      gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG-94

commands:
  # 01update-install-pg-repo:
  #   command: rpm -Uvh http://yum.postgresql.org/9.4/redhat/rhel-6-x86_64/pgdg-redhat94-9.4-1.noarch.rpm
  #   ignoreErrors: true
  02update-yum:
    command: yum update -y -q
    ignoreErrors: true
  03-remove-timezone:
    command: rm /etc/localtime
    ignoreErrors: true
  04-set-timezone:
    command: ln -s /usr/share/zoneinfo/Asia/Kolkata /etc/localtime
    ignoreErrors: true

option_settings:
  - option_name: LANG
    value: 'en_US.UTF-8'
