commands:
  # 01update-yum:
  #   command: yum remove postgresql92 postgresql92-libs postgresql92-contrib -y -q
  #   ignoreErrors: true
  02install-postgres-packages:
    command: rpm -ivh http://yum.postgresql.org/9.4/redhat/rhel-6.7-x86_64/postgresql94-contrib-9.4.4-1PGDG.rhel6.x86_64.rpm http://yum.postgresql.org/9.4/redhat/rhel-6.7-x86_64/postgresql94-devel-9.4.4-1PGDG.rhel6.x86_64.rpm http://yum.postgresql.org/9.4/redhat/rhel-6.7-x86_64/postgresql94-9.4.4-1PGDG.rhel6.x86_64.rpm http://yum.postgresql.org/9.4/redhat/rhel-6.7-x86_64/postgresql94-libs-9.4.4-1PGDG.rhel6.x86_64.rpm
    ignoreErrors: true
  03setting-for-installing-pg-gem:
    command: export CONFIGURE_ARGS='--with-pg-config=/usr/bin/pg_config'
    ignoreErrors: true


packages:
  yum:
    git: []
    gcc: []
    ruby-devel: []
    ImageMagick: []
    ImageMagick-devel: []
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []
    patch: []
    ruby-devel: []
