<% if defined?(object) && object.errors.any? %>
  <div class="alert alert-error flash_non_success_message">
    <!-- <button type="button" class="close" data-dismiss="alert" style='color:red;'>&times;</button> -->
    <button type="button" class="close" aria-label="Close" data-dismiss="alert" style='color:red;'>
      <span aria-hidden="true">&times;</span>
    </button>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
